<h1>
  Welcome Back {{user}}
  </h1>


 <div class="app-content">

    <md-card>
      <button md-button>FEATURE0</button>
      <button md-raised-button md-tooltip="This is a tooltip!">FEATURE1</button>
      <button md-raised-button color="primary">FEATURE2</button>
      <button md-raised-button color="accent">FEATURE3</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>

    <br>
    

    <button md-raised-button>
             LOGOUT
    </button>


  <div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="loginGoogle()" *ngIf="!(user | async)?.uid"> Login Google</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="../assets/images/pin.svg">{{item.message}}</p>
  </div>
</div>


  </div>