<form>




       <div fxLayout="column" fxLayoutAlign="center center">
          <div><header>REDL</header></div>




          <div>
             <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                <div fxFlexFill>
                   <md-input-container s>
                     <input mdInput
                     [(ngModel)]="term"
                     name="term"
                     placeholder="Search Term"
                     type="text"
                     required>
                 </md-input-container>
             </div>


<div>


             
                <md-select placeholder="File Type" [(ngModel)]="type" name="type">
                   <md-option *ngFor="let type of types" [value]="type.value">
                      {{ type.name }}
                  </md-option>
              </md-select>
            

      </div>



      <div>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

     <button md-raised-button (click)="search()">
      <i class="material-icons">&#xE8B6;</i>
      
     </button>
</div>

</div>
</div>

<div *ngIf = "hidden"><h2>RESULTS</h2></div>




<div>


<div *ngIf = "hidden" fxLayout="row" fxLayoutAlign="space-between center" >


    <span *ngIf="!results">No Results</span>
    <md-list>
    <button class ="look"  (click)="paginatedown()" md-raised-button><i class="material-icons">&#xE316;</i></button> 

        <md-list-item *ngFor="let result of subresults"> 
          <md-chip-list>
            <md-chip *ngIf="getFileType(result) === 'html'" color="primary" selected="true">HTML</md-chip>
            <md-chip *ngIf="getFileType(result) === 'pdf'" color="accent" selected="true">PDF</md-chip>
            <md-chip *ngIf="getFileType(result) === 'doc'" color="ffccff" selected="true">DOC</md-chip>
            <md-chip *ngIf="getFileType(result) === 'xml'" color="warn" selected="true">XML</md-chip>
            <md-chip *ngIf="getFileType(result) === 'xls'" color="warn" selected="true">XLS</md-chip>
            <md-chip *ngIf="getFileType(result) === 'ppt'" color="warn" selected="true">PPT</md-chip>
            <md-chip *ngIf="getFileType(result) === ''" color="warn" selected="true">n/a</md-chip>
        </md-chip-list>
        {{result}} 
    </md-list-item>

<button class="look" md-raised-button (click)="paginateup()" > <i class="material-icons">&#xE313;</i> </button>

</md-list>
</div>

</div>

</div>
</form>