<md-menu #appMenu="mdMenu" md-offset="20 20" >
<button md-menu-item [disabled]="isAccountInfoPage()" (click)="navigateToAccount()">My Account</button>
<button md-menu-item> REDL Trends </button>
<button md-menu-item> Logout</button>
</md-menu>


<button md-icon-button [mdMenuTriggerFor]="appMenu">
 <md-icon>account_box</md-icon>
</button>


<button md-button (click)="github()" aria-label="Show Github Link">
  Github
</button>

<button md-button (click)="ddoc()" aria-label="Show DDoc Link">
  Design
</button>


<router-outlet></router-outlet>

